
langchain
langchain-community
langchain-openai
langchain-text-splitters
pymupdf
pypdf 
gitpython
sentence-transformers
chromadb
langchain-google-genai
streamlit
tiktoken
pathspec
tqdm
python-dotenv
requests

langchain
langchain-community
langchain-openai
langchain-text-splitters
pymupdf
pypdf 
gitpython
sentence-transformers
chromadb
langchain-google-genai
streamlit
tiktoken
pathspec
tqdm
python-dotenv
requests


